<footer id="site-footer">
	<div id="footer-main-section">
		<section id="information">
			<p class="footer-title">INFORMACIÓN</p>
			<article class="information-elements">
				<a href="/" class="link">
					<p>Inicio</p>
				</a>
			</article>
			<article class="information-elements">
				<a href="/" class="link">
					<p>Sobre nosotros</p>
				</a>
			</article>
			<article class="information-elements">
				<a href="/" class="link">
					<p>Contacto</p>
				</a>
			</article>
			<article class="information-elements">
				<a href="/" class="link">
					<p>Políticas de privacidad</p>
				</a>
			</article>
		</section>
		<section id="social-networks">
			<article>
				<p class="footer-title">GUITAR SHOP</p>
				<p>Seguinos en las redes</p>
				<a href="https://www.facebook.com/" class="link">
					<img src="/images/varios/facebook-icon.svg" alt="facebook" class="social-network-icon">
				</a>
				<a href="https://www.instagram.com/" class="link">
					<img src="/images/varios/instagram-icon.png" alt="instagram" class="social-network-icon">
				</a>
			</article>
		</section>
		<section id="newsletter">
			<article>
				<p class="footer-title">NEWSLETTER</p>
				<p>Recibi ofertas y novedades en tu mail</p>
				<form action="/" method="GET" id="newsletter-form" class="flex-container">
					<input type="text" name="name" id="name" placeholder="Nombre" class="newsletter-input">
					<input type="text" name="email" id="email" placeholder="Email" class="newsletter-input">
					<button type="submit" id="newsletter-button">SUSCRIBIRME</button>
				</form>
			</article>
		</section>
	</div>
	<section id="copyright">
		<p>© 2021 Guitar Shop - Todos los derechos reservados.</p>
	</section>
</footer>
