<header>
	<section id="site-header" class="top-header flex-container">
		<!-- Ícono de Hamburguesa (Categorías) ----->
		<section class="seccionMenuDesplegable">
			<div id="hamburguer-container" class="flex-container">
				<i class="fas fa-bars" id="categoria-button"></i>
				<div id="menu-categorias" class="dropdown-content">
					<% for (let n of locals.categoriasDeProductos) { %> 
						<a href="/producto/buscar?categoria=<%= n.id %>" class="menu-options"><%= n.nombre %></a>
					<% } %>
				</div>
			</div>
		</section>
		<!-- Opción de búsqueda rápida ------------------------>
		<div id="search-container" class="flex-container">
			<form action="/producto/buscar" method="GET" class="flex-container" id="search-form">
				<input type="text" name="searchValue" id="searchValue">
				<button type="submit" id="search-button">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<!-- Imagen de la Guitarra --------------------------------->
		<div id="logo-container" class="flex-container">
			<a href="/" class="flex-container">
				<img src="/images/varios/logo.svg" alt="Logo guitar shop" id="logo">
			</a>
		</div>
		<!-- Logo de Carrito de Compras ---------------------------->
		<div id="shop-cart-container" class="flex-container">
			<p id="contador" class="ocultar"></p>
			<a href="/carrito" class="flex-container">
				<button id="shop-cart-button">
					<i class="fas fa-shopping-basket"></i>
				</button>
			</a>    
		</div>
		<!-- Logo de Usuario o Avatar ------------------------------>
		<section class="seccionMenuDesplegable">
			<div id="profile-container" class="flex-container">
				<% if(locals.isLogged) { %>
					<script>
						document.getElementById("profile-container").style.border += "1.5px solid white"
					</script>
					<img
						src="/images/users/<%= locals.usuarioLogeado.avatar %>"
						class="desplegableUsuario"
						id="imagenUsuario"
					>
				<% } else { %>
					<i class="desplegableUsuario fas fa-user" id="profile-button"></i>
				<% } %>
			</div>
			<div id="menu-usuario" class="dropdown-content flex-col">
				<% if (locals.isLogged) { %>
					<a href="/usuario/detalle">Detalle de Usuario</a>
					<a href="/usuario/logout">Logout</a>
					<hr>
					<a href="/api/ventas-por-cliente">Ventas por Cliente</a>
					<% if (locals.usuarioLogeado.rol_id == 1) { %>
						<a href="/usuario/administrar/<%= locals.usuarioLogeado.id %>">Administrar un Usuario</a>
						<a href="/producto/crear">Crear Producto</a>
					<% } %>
				<% } else { %>
					<a href="/usuario/login">Login</a>
					<a href="/usuario/crear">Registrarse</a>
				<% } %>
			</div>
		</section>
	</section>
</header>
