#categories-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3em 0 0 0;
	background-color: white;
	border-radius: 0.6em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
	width: 90%;
}
