.category-card {
	display: flex;
	flex-wrap: nowrap;
	width: 25%;
	margin: 1em;
	padding: 1.5em;
	border-radius: 0.6em;
	font-size: 1em;
	font-weight: bold;
	background-color: #d2d4d9;
}

.catetory-name {
	width: 80%;
}

.catetory-total {
	width: 20%;
}
