	main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main form {
	margin: 20px auto;
	padding: 20px 30px;
	background-color: gray;
	border-radius: 10px;
}

main form .textarea {
	margin: 15px auto 20px;
	justify-content: flex-start;
}

.secciones {
	justify-content: space-between;
}

main form .modulo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}

main form h1 {
	margin: 0 auto;
	color: beige;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main form label {
	color: honeydew;
}

main .formInput,
main form button,
main form select
{
	border: none;
	color: dimgray;
	border-radius: 10px;
	font-weight: bold;
	margin-left: 10px;
}

main form #button {
	display: flex;
	justify-content: center;
}

main form input,
main form select {
	width: 180px;
}

main form input {padding: 3px 9px;}
main form select {padding: 1px 5px;}
main form button {padding: 7px;}

main form textarea {
	width: 400px;
	padding: 3px 5px;
}

main form .imagen {
	align-items: center;
	justify-content: center;
	width: 200px; 
	max-height: 250px;
	margin-top: 15px;
}

#imagen {margin-bottom: 3px;}

/* Botón de imagen */
input#inputImagen {display:none}
form #labelImagen {
	color: var(--azul); 
	background-color: rgb(255, 255, 255); 
	padding: 3px 5px;
}
form #divImagen label {cursor: pointer; margin-right: 0px; line-height: normal;}

/* Imagen */
form #divImagen {
	width: 100%; 
	max-height: 100%;
	align-items: center; 
	justify-content: center;
}
#preview {
	display: flex; 
	align-items: center; 
	justify-content: center;
}
#preview, #preview img {
	border-radius: 15px; 
	max-width: 100%; 
	max-height: 100%;
}

.fa-times-circle {
	color: white;
	font-weight: normal
}

.error-fe {
	color: lightyellow;
}

.focus {
	background-color: var(--primary-background);
}

#col-vacia {width:20px}

.erroresFE {color: var(--celeste-claro)}
