/* GENERAL */
main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#carrito {
	margin: 20px auto;
	padding-bottom: 10px;
	border: solid 3px blue;
	background-color: lightblue;
}

#carrito #encabezado {
	display: flex;
	justify-content: space-between;
}

#carrito #encabezado #título {
	display: flex;
	margin: 20px 0 0 20px;
}

#carrito #encabezado .fa-shopping-basket {
	font-size: 1.5rem;
}

#carrito #encabezado h1 {
	margin: 0 15px;
	font-size: 1.5rem;
}

#carrito #encabezado #total {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

#carrito #encabezado #total h2 {
	font-size: 1.2rem;
	margin-right: 10px;
	margin-bottom: 5px;
}

#carrito #encabezado #continuar-y-pagar {
	margin-right: 10px;
	display: flex;
	justify-content: flex-end;
}

#carrito #encabezado #continuar-y-pagar button {
	font-size: 1rem;
	padding: 3px 6px;
	margin-left: 5px;
	font-weight: bold;
	color: blue;
	cursor: pointer
}

#carrito .productos {
	width: 90%;
	padding: 15px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: gray 2px solid;
}

#carrito .productos .imagen-de-producto {
	width: 10%;
}

#carrito .productos .nombre-de-producto {
	width: 25%;
	font-size: 1rem;
	font-weight: bold;
}

#carrito .productos #cantidad-y-flechas {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#carrito .productos #cantidad {
	width: 70%;
	font-size: 1.7rem;
	text-align: right;
}

#carrito .productos #flechas {
	display: flex;
	flex-direction: column;
}

#carrito .productos .título {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

#carrito .productos .valor {
	font-size: 1.1rem;
}

#carrito .fa-trash-alt {
	font-size: 1.1rem;
}

#carritoVacio {
	text-align: center;
	margin: 25px;
	font-size: 1.2rem;
	color: red;
	font-weight: bold;
}
