main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main form {
	margin: 20px auto;
	padding: 20px 30px;
	background-color: gray;
}

main form div {
	padding: 10px 0px;
}

main form input {
	border: none;
	width: 100%;
}

main form input,
main form button {
	padding: 5px 10px;
	border-radius: 12px;
	font-weight: bold;
}

#registrarse {
	margin-left: 15px;
}

main form div#button {
	display: flex;
	justify-content: space-between;
}

main #google-facebook {
	display: flex;
	justify-content: space-around;
	padding: 10px 0 0;
}

main #google-facebook img {
	height: 30px;
}

#recordar {
	display: flex;
	font-weight: bold;
	align-items: center;
	width: 40%;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
	
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__grupo-input {
	position: relative;
}

.envio_mail {
	color: #1ed12d;
}