/* MEDIA QUERY */
@media (min-width: 768px) {
	#site-footer {
		padding-left: 2em;
	}

	#logo-container {
		order: -1;
		width: 25%;
	}

	#categoria-button {
		font-size: 2em;
	}

	#searchValue {
		display: initial;
	}

	.menu-options {
		text-decoration: none;
		color: var(--white);
		font-weight: bold;
		font-size: 0.9rem;
		line-height: 1rem;
	}

	#search-container {
		width: 30%;
	}

	#shop-cart-container,
	#profile-container {
		width: 5%;
	}

	#search-form {
		width: 100%;
		padding-left: 2em;
	}

	#searchValue {
		width: 90%;
	}

	#search-button {
		padding-left: 0.5em;
	}

	#footer-main-section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-height: 20em;
	}

	#information,
	#social-networks {
		height: 60%;
	}

	#newsletter {
		max-width: 40%;
	}
}

@media (min-width: 1200px) {
	#footer-main-section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
	}

	#information,
	#social-networks,
	#newsletter {
		width: 30%;
	}
}
