/* GENERAL */
:root {
	--primary-background: #ebebeb;
	--secondary-background: #232f3e;
	--transparent: rgba(0, 0, 0, 0);
	--white: #ffffff;
	--price-color: #c6161d;
	--black: #000000;
	--gray: gray;
	--celeste-claro: RGB(220,230,242);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Lora", serif;
	font-size: 14px;
	background-color: var(--primary-background);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.dropdown-content {
	display: none;
}
.mostrar {
	display: block;
}
.ocultar {
	display: none;
}
.grow {
	flex-grow: 1;
}

a {
	text-decoration: none;
}

a,
.fa-trash-alt,
.fa-shopping-basket {
	cursor: pointer;
}